<nav show-authed="false">
  <!-- Links -->
  <ul class="menu">
    <li>
      <a ui-sref="app.home">Home</a>
    </li>
    <li>
      <a ui-sref="app.contact">Contact</a>
    </li>
    <li>
      <a ui-sref="app.login">Sign in</a>
    </li>
    <li>
      <a ui-sref="app.register">Register</a>
    </li>
    <li>
      <a ui-sref="app.listaHoteles"> Lista Hoteles
      </a>
    </li>
  </ul>
</nav>

<!--cuando estamos logeados mostrará este menú-->
<nav show-authed="true">
  <!-- Links -->
  <ul class="menu">
    <li>
      <a ui-sref="app.home">Home</a>
    </li>
    <li>
      <a ui-sref="app.contact">Contact</a>
    </li>
    <li>
      <a  ui-sref="app.settings">
        <i class="ion-gear-a"></i>Settings
      </a>
    </li>
    <li>
      <a  ui-sref="app.profile.main({ username: $ctrl.currentUser.username})">
        <img id="imagenMenuPerfil" ng-src="{{$ctrl.currentUser.image}}" class="user-pic" />
        {{ $ctrl.currentUser.username }}
      </a>
    </li>
    <li>
      <a  ui-sref="app.editor">
        <i class="ion-compose"></i>&nbsp;New Article
      </a>
    </li>
    <li>
      <a  ui-sref="app.hotelslist">
        Hotel List
      </a>
    </li>
  </ul>
</nav>


<!--header title-->
<div id="title">
  <h1>HOTELS BOOKING</h1>
</div>