<div id="home">
  <!-- <home-slider-cmp></home-slider-cmp> componente creado para el slider de imagenes-->
  <br>


  <h2>HOTELES</h2>
  <p class="homeP">Categorías</p>
  <div ng-repeat="c in $ctrl.category">
    <!--botón de categoría-->
    <button class="categoryButton" ui-sref="app.hotels({filter:c})">{{ c }}</button>
  </div>
  <br><br><br><br><br><br> <br>


  <h2>RESTAURANTES</h2>
  <p class="homeP">Categorías</p>
  <div ng-repeat="r in $ctrl.restaurants">
    <button class="categoryButton" ui-sref="app.restaurants({filter:r.category})">{{ r.category }}</button>
  </div>
  <br><br><br><br><br><br><br>



  <h2>EVENTOS</h2>
  <p class="homeP">De menor a mayor precio</p>
  <events-list events="$ctrl.events"></events-list>


  <h2>PROMOCIONES</h2>
  <p class="homeP">Listado de promociones</p>
  <promotions-list promotions="$ctrl.promotions"></promotions-list>

</div>