#imagenMenuPerfil{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.user-img{
    width: 100px;
    height: 100px;
    border-radius: 50px;  
}
#imgArticlePreview{
    width: 100px;
    height: 100px;
}
